<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="pioneer3dx_gazebo_control" params="prefix">
        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>$(find amr-ros-config)/config/controller_config.yaml</parameters>
				<parameters>$(find amr-ros-config)/config/gazebo_params.yaml</parameters>
            </plugin>

            <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
                <ros>
                    <!-- Use your desired namespace or leave empty for default -->
                    <namespace>/galax_robot</namespace>
                    <!-- The topic name where the position will be published -->
                    <remapping>odom:=/galax_pose</remapping>
                </ros>
                <!-- Replace with your robot's main link -->
                <body_name>pioneer3dx_base_link</body_name>
                <!-- Update rate in Hz -->
                <update_rate>30.0</update_rate>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
            </plugin>

        </gazebo>

        

        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="${prefix}left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="${prefix}right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
